<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Model1Container" connectionString="metadata=res://*/EntityDB.Model1.csdl|res://*/EntityDB.Model1.ssdl|res://*/EntityDB.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\guest.TULA\Documents\github\goldenbytetravel\WebSite\WebSite\App_Data\GoldenDataBase.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>